
<ion-view view-title="{{employee.secondName}}">
  <ion-content class="padding">
    <div class="card">
	  <div class="item item-divider">
	    {{employee.secondName}} {{employee.firstName}}
	  </div>
	  <div class="item item-text-wrap">
	    <i>{{employee.firstName}}</i>  is a Lorem Ipsum Generator, it uses quotes from films which Samuel L Jackson has starred in place of the standard ipsum text.
	  </div>
	  <div class="item item-divider">
	    Joined the society 2 years ago.
	  </div>
	</div>

	<div class="list card">

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    Home Address
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-telephone"></i>
		    Phone number
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-card"></i>
		    Payments informations
		  </a>
	</div>
  </ion-content>
</ion-view>
